
@font-face {
	font-family: Gotham-Bold;
	src: url("../../src/assets/fonts/Gotham-Bold.otf");
}

@font-face {
	font-family: Gotham-Book;
	src: url("../../src/assets/fonts/Gotham-Book.otf");
}

@font-face {
	font-family: Gotham-Light;
	src: url("../../src/assets/fonts/Gotham-Light.otf");
}

.gothamBold{
	font-family: Gotham-Bold;
}
.gothamBook{
	font-family: Gotham-Book;
}
.gothamLight{
	font-family: Gotham-Light;
}

.copper{
	color: rgb(148,100, 62);
}
.white{
	color: white;
}

.xl-font{
	font-size: 4rem;
}