.banner{
    background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), 
    url('../../src/assets/images/fountain.jpg');
    height: 780px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: bottom;
}

.bannerHeader{
    background: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4));
    height: 50px; 
}


// .copperBorderFocus:focus{
// 	border: 1px solid rgb(148,100, 62);
// 	outline: none;
// }

.bottomCopperBorder{
	border-bottom: 1px solid rgb(148,100, 62);
}

.copperBackground{
	background-color: rgb(148,100, 62);
}
.greyBackground{
	background-color: rgb(109,110,113)
}
.whiteBackground{
	background-color: white;
}

.profile{
	background: url('../../src/assets/images/pattern.png');
	height: 500px;
    background-size: 100%;
	background-repeat:repeat-y;
    background-position: center;
}
.profileImg{
	background: url('../../src/assets/images/director.jpg');
	filter: grayscale(80%);
	height: 345px;
    background-size: cover;
	background-repeat:no-repeat;
	background-position: right;
}

.diamonds{
	background: url('../../src/assets/images/diamonds3.png');
	background-size: cover;
	background-position: top;
	background-repeat: repeat-y;
}
.bed{
	background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), 
    url('../../src/assets/images/Bed.jpg');
	height: 400px;
	max-width: 415px;
	background-size: cover;
	background-position: center;
}
.bath{
	background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), 
    url('../../src/assets/images/Bath.jpg');
	height: 400px;
	max-width: 415px;
	background-size: cover;
	background-position: center;
}

.building img {
	width: 100%;
}

#goldLogo {
	width: 10%;
}

.heightFit{
	height: fit-content;
}

br{
	display: none;
}

area {
    display: inline;
    cursor: pointer;
}

button{
	border: none;
}

//NAV

a:visited{
	color: inherit;
	text-decoration: none;
}

a{
	text-decoration: none;
}
a:hover{
	border: 1px solid rgb(148,100, 62);
	outline: none;
}
.a:active{
	border: 1px solid rgb(148,100, 62);
	outline: none;
}